<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<script type="text/javascript">
  var map;
    function initialize() {
        var mapOptions = {
              zoom: 5,
              center: new google.maps.LatLng(-23, -46),
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };
        map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
    
        var imageBounds = new google.maps.LatLngBounds(
                  new google.maps.LatLng(-23.558362,-46.635381),
                  new google.maps.LatLng(-23.569494,-46.66804);
    
    
        var contentStrings = new Array();
        var infowindow = new google.maps.InfoWindow();
        var markers = new Array();
    
        <% i=0 %>
        <% @users.each do |user| %>
            contentStrings[<%=i%>]= '<h2 class="firstHeading"><%= image_tag "SPARTAMARKER.jpg" %> <a target="_blank" href="http://vemprarua.k3x.org/">VEM PRA RUA</a>'+
          '<div class="bodyContent">'+
          '</div>';
          
          markers[<%=i%>] = new google.maps.Marker({
                  position: new google.maps.LatLng(<%=location.lat%>, <%=location.lng%>),
                  map: map,
                  title:"<%=user.name%>"
                });
    
          google.maps.event.addListener(markers[<%=i%>], 'click', function() {
                  infowindow.setContent(contentStrings[<%=i%>]);
                  infowindow.open(map, markers[<%=i%>]);
                });
    
          <% i+=1 %>
        <% end %>
        

        google.maps.event.addDomListener(window, 'load', initialize);
</script>

